// -------------------- Variable -------------------- //

// ---------- Breakpoint => https://www.antdv.com/components/layout/#breakpoint-width
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

// ---------- Color
$primary: #40a9ff;
$body-color: rgba(0, 0, 0, 0.85);
$border-color: #d9d9d9;

// ---------- Spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2)
  ),
  $spacers
);
