@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.c-main-footer {
  border-top: 1px solid $border-color;
  padding: 10px 15px;
  body.dark & {
    color: $body-dark-color;
    border-top-color: $border-dark-color;
  }
  .powered {
    font-weight: 500;
  }
}
