@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.c-base-breadcrumb {
  margin-bottom: 12px;
  a {
    &:hover {
      color: $primary;
    }
  }
  .ant-breadcrumb-link {
    color: rgba(0, 0, 0, 0.85);
  }
}
