.ant-dropdown {
  .ant-dropdown-menu {
    min-width: 200px;
    border: 2px solid #eaecf0;
    border-radius: 10px;
  }
  .ant-dropdown-menu-item {
    font-size: 16px;
    padding: 12px 20px;
    .anticon {
      vertical-align: middle;
      font-size: 1.3em;
      color: #282b31;
    }
  }
}
.ant-dropdown-menu-item-selected,
.ant-dropdown-menu-submenu-title-selected,
.ant-dropdown-menu-item-selected > a,
.ant-dropdown-menu-submenu-title-selected > a {
  color: $primary;
}
.dropdown-product-filter {
  .ant-dropdown-menu {
    min-width: 240px;
  }
}
