// ---------- ant-input
.ant-input:hover,
.ant-input:focus,
.ant-input-focused {
  border-color: $primary;
}
.ant-input:focus,
.ant-input-focused {
  -webkit-box-shadow: 0 0 0 2px rgba($primary, 0.2);
  box-shadow: 0 0 0 2px rgba($primary, 0.2);
}
.ant-input.only-bd-bottom,
.ant-input-affix-wrapper.only-bd-bottom {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
}
.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: $primary;
}
.ant-input[readonly] {
  background-color: #f5f5f5;
}
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: $primary;
}
.ant-input.only-show-text {
  border: 0;
  box-shadow: none;
  background: #fff;
  padding: 0;
}
.has-enter-and-clear-button {
  .ant-input {
    padding-right: 28px;
  }
  .ant-input-search-button {
    padding: 4px 8px;
  }
  .ant-select-clear {
    right: 44px;
  }
}

// ---------- ant-checkbox
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $primary;
}
.ant-checkbox-checked::after {
  border: 1px solid $primary;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primary;
  border-color: $primary;
}
.ant-checkbox-indeterminate .ant-checkbox-inner::after {
  background-color: $primary;
}

// ---------- ant-radio
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: $primary;
}
.ant-radio-checked::after {
  border: 1px solid $primary;
}
.ant-radio-inner::after {
  background-color: $primary;
}
.ant-radio-checked .ant-radio-inner {
  border-color: $primary;
}

// ---------- ant-select
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $primary;
}
