.c-left-sidebar {
  position: fixed !important;
  left: 0 !important;
  top: 50px !important;
  z-index: 100;
  overflow: auto !important;
  height: calc(100vh - 43px - 50px)  !important;
  .ant-layout-sider-trigger {
    height: 43px;
    line-height: 43px;
    background: #021931;
  }
}
.ant-layout-sider-has-trigger {
  padding-bottom: 0;
}
.scrollbars-left-sidebar {
  .thumb-vertical {
    background: rgba(204, 204, 204, 0.3);
    border-radius: 3px;
    cursor: pointer;
    &:hover,
    &:active {
      background: rgba(204, 204, 204, 0.6);
    }
  }
}