.c-resize-panels {
  display: flex;
  flex-wrap: nowrap;
  .col-left,
  .col-right {
    background: #fff;
    text-align: left;
  }
  .col-left {
    max-width: 300px;
    flex: 0 0 300px;
  }
  .col-right {
    max-width: calc(100% - 300px);
    flex: 0 0 calc(100% - 300px);
  }
  .resize-control {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, 0);
    width: 22px;
    height: 100%;
    background: #fff;
    cursor: ew-resize;
    z-index: 3;
    &:hover {
      &:before {
        background: #1890ff;
      }
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgb(195, 195, 195);
      transition: all 0.4s ease;
    }
  }
}
