/**
 * SCSS styles
 */

// If you want to override variables do it here
@import "variables";

// Mixins
@import "mixins";

/* -----------------------------------------------------------
  Common
----------------------------------------------------------- */
body {
  @include mq(max_sm) {
    font-size: 14px;
  }
}

/* -----------------------------------------------------------
  Util Classes
----------------------------------------------------------- */
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}
.mb-5{
  margin-bottom: 3rem !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-transparent {
  color: transparent !important;
}
.d-none {
  display: none !important;
}

/* -----------------------------------------------------------
  Layout
----------------------------------------------------------- */
.ant-layout {
  min-height: 100vh;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
  @include mq(sm) {
    max-width: 540px;
  }
  @include mq(md) {
    max-width: 720px;
  }
  @include mq(lg) {
    max-width: 960px;
  }
  @include mq(xl) {
    max-width: 1140px;
  }
  @include mq(xxl) {
    max-width: 1540px;
  }
}

/* -----------------------------------------------------------
  Header
----------------------------------------------------------- */
.ant-layout-header {
  padding: 0;
  .main-nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    > ul {
      > li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        &.active {
          > .nav-link {
            color: #f00;
          }
        }
        > .nav-link {
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

/* -----------------------------------------------------------
  Main content
----------------------------------------------------------- */
.ant-layout-content {
  background: #fff;
  padding: 50px 0;
}

/* -----------------------------------------------------------
  Footer
----------------------------------------------------------- */
.ant-layout-footer {
  text-align: center;
  padding: 15px 0;
}

/* -----------------------------------------------------------
  ant-modal
----------------------------------------------------------- */
.ant-modal {
  @include mq(max_sm) {
    max-width: calc(90vw);
  }
}

/* -----------------------------------------------------------
  month-calendar-page
----------------------------------------------------------- */
.month-calendar-page {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .box-header {
    text-align: center;
    margin-bottom: 20px;
    .date-lg {
      font-size: 26px;
      font-weight: bold;
    }
  }

  .box-control {
    text-align: center;
    margin-bottom: 10px;
    .col-left {
      text-align: left;
    }
    .col-right {
      text-align: right;
    }
  }
  .day-labels {
    li {
      display: block;
      font-size: 14px;
      color: #fff;
      background: #000;
      border-radius: 3px;
      padding: 2px;
      margin: 0 0 2px;
      &.good-day {
        background: red;
      }
      &.bad-day {
        background: #313131;
      }
    }
  }
}

/* -----------------------------------------------------------
  month-lunar-calendar-page
----------------------------------------------------------- */
.month-lunar-calendar-page {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .box-header {
    text-align: center;
    margin-bottom: 20px;
    @include mq(max_sm) {
      text-align: left;
    }
    .date-lg {
      font-size: 26px;
      font-weight: bold;
      @include mq(max_sm) {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }

  .box-control {
    text-align: center;
    margin-bottom: 10px;
    .col-left {
      text-align: left;
    }
    .col-right {
      text-align: right;
    }
    .ant-btn {
      margin-bottom: 5px;
    }
  }

  .box-checklist {
    .box-card-header {
      border-bottom: 1px solid $border-color;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    label {
      margin-bottom: 5px;
    }
  }

  .box-list-date {
    .list {
      border-top: 1px solid $border-color;
    }
    .day {
      border-bottom: 1px solid $border-color;
      padding: 10px;
      &.selected-date {
        border-bottom: 1px solid red;
      }
      &.today {
        border: 1px solid red;
        margin-top: -1px;
      }
    }
    .date-top {
      .lg {
        font-weight: bold;
        font-size: 20px;
        @include mq(max_sm) {
          font-size: 18px;
        }
      }
      .md {
        text-align: right;
        @include mq(max_sm) {
          text-align: left;
        }
      }
      .txt-today {
        color: red;
        padding-left: 10px;
      }
    }
    .tiet-khi {
      span {
        font-weight: bold;
        padding-left: 10px;
      }
    }
    .day-labels {
      list-style: none;
      padding: 0;
      margin: 5px 0 0;
      li {
        display: inline;
        // display: block;
        font-size: 14px;
        color: #000;
        // color: #fff;
        // background: #f00;
        // border-radius: 3px;
        // padding: 2px 5px;
        // margin: 0 5px 5px 0;
        &:not(:nth-child(1)):not(:last-child) {
          &:after {
            content: ', ';
          }
        }
        &:last-child:not(:first-child) {
          &:after {
            content: '.';
          }
        }
        &.good-day .ant-checkbox-wrapper,
        &.good-day {
          color: red;
          // background: red;
        }
        &.bad-day .ant-checkbox-wrapper,
        &.bad-day {
          color: #00389e;
          // background: #313131;
        }
        span {
          cursor: pointer;
        }
      }
    }
    .day-detail {
      text-align: right;
    }
  }
}

/* -----------------------------------------------------------
  date-detail-modal
----------------------------------------------------------- */
.date-detail-modal {
  // .ant-modal {
  //   @include mq(max_lg) {
  //     max-width: calc(90vw);
  //   }
  // }
  .box-info-table {
    table {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      tr {
        th,
        td {
          text-align: left;
          border-top: 1px solid $border-light-color;
          border-bottom: 1px solid $border-light-color;
          padding: 6px 16px;
        }
        td {
          &:nth-child(1) {
            width: 40%;
            font-weight: bold;
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------------
  filtered-date-modal
----------------------------------------------------------- */
.filtered-date-modal {
  // .ant-modal {
  //   @include mq(max_lg) {
  //     max-width: calc(90vw);
  //   }
  // }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .txt-title-top {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    &.good-day {
      color: red;
    }
    &.bad-day {
      color: #00389e;
    }
  }
  .box-list {
    margin-bottom: 30px;
    .item {
      border-top: 1px solid $border-light-color;
      padding: 10px 0;
      &:last-child {
        border-bottom: 1px solid $border-light-color;
      }
      .name {
        font-weight: bold;
        white-space: pre-line;
        margin-bottom: 5px;
      }
      .values {
        white-space: pre-line;
      }
    }
    &.view-type-2 {
      display: table;
      width: auto;
      .item {
        display: table-row;
        border: 0;
        padding: 0;
        > * {
          display: table-cell;
          padding: 5px 0;
        }
        .text-bridge {
          font-style: italic;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .box-reference-books {
    border-top: 1px solid $border-light-color;
    padding-top: 10px;
    .txt-title {
      font-weight: bold;
      margin-bottom: 0;
    }
    ul {
      li {
        font-style: italic;
      }
    }
  }
}

/* -----------------------------------------------------------
  temp
----------------------------------------------------------- */
.main-nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
.main-nav > ul > li.active > a {
  color: red;
}
.main-nav > ul > li > a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.calendar-month > * {
  padding: 0 15px;
}
.calendar-table table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid $border-color;
  border-top: 0;
}
.calendar-table table tr th,
.calendar-table table tr td {
  border-top: 1px solid $border-color;
  text-align: center;
  padding: 10px;
}
.calendar-table table tr td {
  vertical-align: top;
  cursor: pointer;
}
.calendar-table table tr td:nth-child(7) {
  color: red;
}
.calendar-table table tr td.other-month {
  opacity: 0.3;
}
.calendar-table table tr td.today {
  border: 1px solid #f00;
}
.calendar-table table tr td.selected-date {
  border-bottom: 1px solid #f00;
}
.calendar-table table tr td:hover {
  background: #f9f9f9;
}
.calendar-table table tr td.first-day-in-month sub {
  color: red;
}
.calendar-table .box-current-day {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.calendar-table .day-labels {
  list-style: none;
  padding: 0;
  margin: 0;
}
