@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.c-left-sidebar {
  .ant-spin {
    position: absolute;
    left: 50%;
    top: 43vh;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .ant-menu {
    height: 100%;
    background: none;
    border-right: 0;
    &.ant-menu-inline-collapsed {
      .ant-menu-item .anticon,
      .ant-menu-submenu-title .anticon {
        font-size: 20px;
      }
    }
    .ant-menu-submenu {
      &.ant-menu-submenu-selected {
        color: $primary;
      }
    }
    &.ant-menu-vertical .ant-menu-item::after,
    &.ant-menu-vertical-left .ant-menu-item::after,
    &.ant-menu-vertical-right .ant-menu-item::after,
    &.ant-menu-inline .ant-menu-item::after {
      border-right-color: $primary;
    }
    .ant-menu-sub {
      background: none;
    }
    .ant-menu-item {
      color: inherit;
      a:hover,
      .anticon:hover {
        color: $primary;
      }
      &.ant-menu-item-selected {
        background: transparent;
        .anticon,
        a {
          color: $primary;
        }
      }
    }
    .ant-menu-item:hover, .ant-menu-item-active,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
      color: $primary;
    }
    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
      background: transparent;
    }
  }
  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    font-size: 20px;
  }
  .ant-layout-sider-trigger {
    height: 43px;
    line-height: 43px;
  }
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: -webkit-gradient(linear, left top, right top, from($primary), to($primary));
    background: linear-gradient(to right, $primary, $primary);
  }
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after,
  .ant-menu-submenu-vertical > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-left > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-vertical-right > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before {
    background: -webkit-gradient(linear, left top, right top, from($primary), to($primary));
    background: linear-gradient(to right, $primary, $primary);
  }
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal).ant-menu-submenu-popup .ant-menu-item-selected {
    background: transparent;
    .anticon,
    a {
      color: $primary;
    }
  }
}
