@import '../../assets/scss/components/variables';
@import '../../assets/scss/components/mixins';

.c-basic-table {
  table {
    border: 1px solid #d7dde4;
  }
  tr {
    &.drop-over-downward > td {
      border-bottom: 2px dashed $primary;
    }
    &.drop-over-upward > td {
      border-top: 2px dashed $primary;
    }
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .ant-table-thead {
    > tr {
      > th {
        background: #d7dde4;
        white-space: nowrap;
      }
    }
  }
  .ant-table-column-sorter-up,
  .ant-table-column-sorter-down {
    color: #afafaf;
    &.active {
      color: $primary;
    }
  }
  .ant-table-column-sorters {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ant-table-pagination.ant-pagination {
    flex-wrap: wrap;
  }
  .ant-pagination-options {
    @include mq(max_xs) {
      display: block;
    }
  }
}
.cell-2-is-86-percent {
  tr {
    th,
    td {
      &:nth-child(2) {
        width: 86%;
        padding-left: 0;
      }
    }
  }
}
.table-responsive {
  .ant-table-content {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
[class*='row-dragging'] {
  display: table;
  background: #f3f3f3;
  border: 1px solid $border-color;
}
