.p-multi-drag .row-dragging {
  display: table;
  border: 1px solid blue;
}
.p-multi-drag .column {
  display: flex;
  flex-direction: column;
  width: 33.333333%;
  height: 100%;
  border-radius: 2px;
  border: 1px solid #818c9f;
  background-color: #c1c7d0;
  margin: 8px;
}
.p-multi-drag .item {
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  font-size: 18px;
  border: 3px solid #8993a4;
}
.p-multi-drag .item:focus {
  outline: none;
  border-color: #8993a4;
}
.p-multi-drag .item.is-selected {
  background: #deebff;
}
.p-multi-drag .item.is-dragging {
  box-shadow: 2px 2px 1px #8993a4;
}
.p-multi-drag .item.is-ghosting {
  opacity: 0.8;
}
.p-multi-drag .item .selection-count {
  right: -8px;
  top: -8px;
  color: #fff;
  background: #6b778c;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
}

.p-multi-drag .ant-table-thead > tr > th,
.p-multi-drag .ant-table-tbody > tr > td,
.p-multi-drag .ant-table tfoot > tr > th,
.p-multi-drag .ant-table tfoot > tr > td {
  padding: 8px 16px;
}
