.p-multi-drag-table .inner-col {
  height: 100%;
  border: 1px solid #f0f0f0;
  padding: 10px;
}
.p-multi-drag-table .droppable-area {
  background: #f6f6f6;
}
.p-multi-drag-table .ant-table {
  border: 1px solid #f0f0f0;
}
.p-multi-drag-table .ant-table-thead > tr > th,
.p-multi-drag-table .ant-table-tbody > tr > td,
.p-multi-drag-table .ant-table tfoot > tr > th,
.p-multi-drag-table .ant-table tfoot > tr > td {
  padding: 6px 16px;
}
.p-multi-drag-table .ant-table-tbody > tr.ant-table-placeholder > td,
.p-multi-drag-table .ant-table-tbody > tr.ant-table-placeholder:hover > td {
  background: transparent;
}
.p-multi-drag-table .ant-table-tbody > tr.row-item {
  background: #fff;
}
.p-multi-drag-table .ant-table-tbody.is-dragging-over > tr.ant-table-placeholder {
  background: #deebff !important;
}
.p-multi-drag-table .ant-table-tbody > tr.row-item.row-selected {
  background: #deebff;
}
.p-multi-drag-table .ant-table-tbody > tr.row-item.row-dragging {
  display: table;
  color: #fff;
  background: #4285f4;
  border: 1px solid #f0f0f0;
}
.p-multi-drag-table .ant-table-tbody > tr.row-item.row-dragging > td {
  border-bottom: 0;
}
.p-multi-drag-table .ant-table-tbody > tr.row-item.row-ghosting {
  opacity: 0.5;
}
