@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.c-trademark-search-form {
  .ant-btn.only-icon {
    &:not(:hover):not(:focus) {
      color: rgba(0, 0, 0, 0.45);
    }
    .anticon {
      color: inherit;
      transition: none;
    }
  }
}
