.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.position-relative {
  position: relative !important;
}
.w-100 {
  width: 100% !important;
}
.min-w-100 {
  min-width: 100px !important;
}
.min-w-120 {
  min-width: 120px !important;
}
.min-w-200 {
  min-width: 200px !important;
}
.max-w-500 {
  max-width: 500px !important;
}
.width-auto {
  width: auto !important;
}
.height-auto {
  height: auto !important;
}
.text-primary {
  color: $primary !important;
}
.text-hover-primary {
  transition: all 0.4s ease;
  &:hover {
    color: $primary !important;
  }
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-italic {
  font-style: italic !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.background-transparent {
  background: transparent !important;
}
.font-weight-medium {
  font-weight: 500 !important;
}
.font-weight-bold {
  font-weight: bold !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.border-transparent {
  border-color: transparent !important;
}
.border-0 {
  border: 0 !important;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.reset-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.rounded-pill {
  border-radius: 1em !important;
}

// ------------------------- Spacing
// // Example
// .mb-1 {
//   margin-bottom: 0.25rem !important;
// }
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} {
      #{$prop}: $length !important;
    }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}
.mx-auto,
.ml-auto {
  margin-left: auto !important;
}
.mx-auto,
.mr-auto {
  margin-right: auto !important;
}
