@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.l-default {
}

.l-admin {
  .main-body {
    min-height: calc(100vh - #{$header-height});
  }
  .main-content {
    padding: 15px;
  }
}

.l-test-execute-popup {
  .c-main-header {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.l-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
  .btn-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
}

.l-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
  .btn-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
}
