@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.l-default {
  .c-left-sidebar.ant-layout-sider-collapsed {
    + .main-content-wrap {
      margin-left: 80px;
    }
  }
  .main-content-wrap {
    padding-top: 50px;
    margin-left: 220px;
    transition: all .2s;
  }
  .main-body {
    min-height: 100vh;
  }
  .main-content {
    padding: 15px;
  }
  .c-main-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}


.l-login {
  .col-login-img,
  .col-login-contents {
    min-height: 100vh;
  }
  .col-login-img {
    background: #f4f6f8 url("/images/login-layout.jpg") no-repeat center center;
    background-size: cover;
    .img-logo {
      padding-top: 36px;
      padding-left: 10%;
    }
  }
  .col-login-contents {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-login {
    width: 100%;
    max-width: 600px;
    .ant-card {
      background: #fff;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.20);
      margin: 30px 0;
      @include mq(max_xs) {
        margin-top: 40px;
      }
    }
  }
  .btn-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
}

.l-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
  .btn-flag {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }
}
