@import '../assets/scss/components/variables';
@import '../assets/scss/components/mixins';

.l-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f6f8;
  overflow: hidden;
  .card-login {
    width: 100%;
    max-width: 390px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
    &.max-w-500 {
      max-width: 500px;
    }
  }
}

.l-default {
  .main-body {
    min-height: calc(100vh - 64px);
    .ant-layout {
      flex: 1 1 auto;
    }
  }
  .main-content {
    padding: 15px;
  }
}
