.p-transfer .ant-table-thead > tr > th,
.p-transfer .ant-table-tbody > tr > td,
.p-transfer .ant-table tfoot > tr > th,
.p-transfer .ant-table tfoot > tr > td {
  padding: 8px 16px;
}
.p-transfer {
  position: relative;
}
.p-transfer .control-btns {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.p-transfer .control-btns > * {
  margin: 3px 0;
}
