[class*="c"] {
transition: all 0.4s ease;
}
.c1 {
  background: lighten(#EE5A29, 24%);
}
.c2 {
  background: lighten(#EE5A29, 18%);
}
.c3 {
  background: lighten(#EE5A29, 12%);
}
.c4 {
  background: lighten(#EE5A29, 6%);
}
.c5 {
  background: #EE5A29;
  &:hover {
    background: darken(#EE5A29, 6%);
  }
}
.c6 {
  background: darken(#EE5A29, 6%);
}
.c7 {
  background: darken(#EE5A29, 12%);
}
.c8 {
  background: darken(#EE5A29, 18%);
}
.c9 {
  background: darken(#EE5A29, 24%);
}
.c10 {
  background: darken(#EE5A29, 30%);
}