@import '../../assets/scss/components/variables';
@import '../../assets/scss/components/mixins';

.c-main-header {
  display: flex;
  justify-content: space-between;
  background: #002140;
  padding: 0 15px;
  .box-right {
    display: flex;
    .ant-menu {
      background: none;
      border-bottom: 0;
      line-height: 61px;
      .ant-menu-item {
        border-bottom: 3px solid transparent;
        a {
          color: #fff;
        }
        &:hover,
        &.ant-menu-item-selected {
          border-bottom-color: $primary;
          a {
            color: $primary;
          }
        }
      }
    }
  }
  .account-menu {
    display: flex;
    align-items: center;
    margin-left: 15px;
    .ant-dropdown-link {
      white-space: nowrap;
      color: #fe740c;
      .ic-account {
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
      .ic-arrow {
        font-size: 0.7em;
        margin-left: 3px;
      }
    }
  }
}
