.ant-btn {
  &:hover,
  &:focus {
    color: $primary;
    border-color: $primary;
  }
  &.no-border-on-focus {
    &:focus:not(:hover) {
      border-color: transparent !important;
    }
  }
}
.ant-btn-primary {
  background: $primary;
  border-color: $primary;
  &:hover,
  &:focus {
    color: #fff;
    background: darken($primary, 15%);
    border-color: darken($primary, 15%);
  }
  &.success {
    background: $success;
    border-color: $success;
    &:hover,
    &:focus {
      color: #fff;
      background: darken($success, 15%);
      border-color: darken($success, 15%);
    }
  }
}
.ant-btn-link {
  color: $primary;
  &:hover,
  &:focus {
    color: $primary;
    border-color: $primary;
  }
}
.ant-btn-background-ghost.ant-btn-primary {
  color: $primary;
  border-color: $primary;
  &:hover,
  &:focus,
  &:active {
    color: darken($primary, 15%);
    border-color: darken($primary, 15%);
  }
}
.ant-btn > .ant-btn-loading-icon .anticon {
  padding-right: 0;
  margin-right: 8px;
}
a.ant-btn-round.ant-btn-lg {
  padding: 0 20px;
}
.btn-reload-on-modal {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  width: auto;
  height: auto;
  color: rgba(0, 0, 0, 0.45);
  border: 0;
  z-index: 2;
  &:hover {
    color: $primary;
  }
  body.dark & {
    color: $body-dark-color;
    &:hover {
      color: $primary;
    }
  }
}
.btn-reload-on-detail-page {
  right: 15px;
  top: 10px;
  transform: none;
  .ant-modal & {
    right: 56px;
    top: -40px;
  }
}
