.c-basic-table {
  table {
    border: 1px solid #d7dde4;
    body.dark & {
      border-color: $border-dark-color;
    }
  }
  tr {
    &.drop-over-downward > td {
      border-bottom: 2px dashed $primary;
    }
    &.drop-over-upward > td {
      border-top: 2px dashed $primary;
    }
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .ant-table-thead {
    > tr {
      > th {
        background: #d7dde4;
        white-space: nowrap;
        body.dark & {
          background: #1d1d1d;
          &.ant-table-column-has-sorters:hover {
            background: #303030;
          }
        }
      }
    }
  }
  .ant-table-column-sorter-up,
  .ant-table-column-sorter-down {
    color: #afafaf;
    &.active {
      color: $primary;
    }
  }
  .ant-table-column-sorters {
    padding-top: 0;
    padding-bottom: 0;
  }
  .ant-table-pagination.ant-pagination {
    flex-wrap: wrap;
  }
  .ant-pagination-options {
    @include mq(max_xs) {
      display: block;
    }
  }
}
.table-title-style {
  background: lighten(#d7dde4, 5%);
  body.dark & {
    background: lighten(#1d1d1d, 5%);
  }
  .ant-btn {
    width: auto;
    height: auto;
    line-height: 1;
    color: $body-color;
    border: 0;
    margin-left: 10px;
    &:hover {
      color: $primary;
    }
    body.dark & {
      color: $body-dark-color;
      &:hover {
        color: $primary;
      }
    }
    .anticon {
      color: inherit;
    }
    &[disabled] {
      color: rgba(0, 0, 0, 0.35);
    }
  }
  .btn-dots-option {
    margin-right: -5px;
  }
}
