.c-directory-tree {
  &.no-btn-option {
    .ant-tree {
      .ant-tree-treenode {
        .ant-tree-node-content-wrapper {
          padding-right: 0;
        }
      }
    }
  }
  .input-filter {
    .ant-input-suffix {
      .anticon {
        color: rgb(59, 59, 59);
      }
    }
  }
  .ant-select {
    .ant-input {
      &:-ms-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &::-webkit-input-placeholder {
        font-style: italic;
      }
    }
  }
  .ant-tree {
    .ant-tree-treenode {
      width: 100%;
      padding-bottom: 0;
      margin-bottom: 4px;
      &:before {
        top: 0;
        bottom: 0;
      }
    }
    .ant-tree-treenode-selected {
      &,
      &:hover {
        background: #1890ff;
      }
      &:hover {
        .btn-option {
          color: #fff;
          &:hover {
            color: darken(#1890ff, 15%);
          }
        }
      }
      &::before {
        display: none;
      }
    }
    .ant-tree-treenode {
      &:hover {
        .btn-option {
          opacity: 1;
        }
      }
      .ant-tree-node-content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;
        padding-right: 0;
        .anticon {
          color: #1890ff;
          transition: none;
        }
        &.ant-tree-node-selected {
          .anticon {
            color: #fff;
          }
        }
      }
      .ant-tree-iconEle {
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        .anticon {
          font-size: 20px;
          padding-top: 5px;
        }
      }
      .ant-tree-title {
        flex: 0 0 calc(100% - 30px);
        width: calc(100% - 30px);
        line-height: 1.5;
        padding-left: 3px;
      }
      .btn-option {
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // right: 0;
        // top: 50%;
        // transform: translate(0, -50%);
        // height: 30px;
        color: #333;
        background: none;
        border: 0;
        outline: 0;
        box-shadow: none;
        text-align: right;
        transition: none;
        padding-right: 7px;
        &:hover {
          color: #1890ff;
        }
        &.ant-dropdown-open {
          opacity: 1;
        }
        // .anticon {
        //   color: inherit !important;
        // }
        .invisible {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          width: 0;
          height: 0;
        }
      }
    }
    .ant-tree-switcher {
      line-height: 30px;
      .ant-tree-switcher-icon,
      .ant-select-tree-switcher-icon {
        font-size: 12px;
      }
    }
    .ant-tree-checkbox {
      margin-top: 7px;
    }
    .ant-tree-node-content-wrapper {
      min-height: 30px;
      line-height: 30px;
      padding-left: 0;
    }
  }
}
.c-tree-option-dropdown {
  &.slide-up-leave {
    display: none !important;
  }
  .ant-dropdown-menu-item {
    padding: 0;
    .ant-btn {
      min-width: 180px;
      border-color: transparent;
      text-align: left;
    }
  }
}
.text-search-highlight {
  color: #f50 !important;
}
