.App {
	text-align: center;
}

.App-logo {
	-webkit-animation: App-logo-spin infinite 20s linear;
					animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@-webkit-keyframes App-logo-spin {
	from {
		-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
	}
}

@keyframes App-logo-spin {
	from {
		-webkit-transform: rotate(0deg);
						transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
						transform: rotate(360deg);
	}
}

#root {
	padding: 0 0 50px;
}

.mt-15 {
	margin-top: 15px;
}

.mr-5 {
	margin-right: 5px;
}

.ml-5 {
	margin-left: 5px;
}

.pr-5 {
	padding-right: 5px;
}

.dropdown-menu .fa:before {
	padding-right: 10px;
}

.text-right {
	float: right;
	cursor: pointer;
}

.btn-close:hover {
	color: red;
}

.sort_selected::after {
	content: '\F00C';
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 0px 10px;
	display: inline-block;
}

.label-status {
	cursor: pointer;
}
