@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.c-main-header {
  display: flex;
  justify-content: space-between;
  height: $header-height;
  line-height: $header-height;
  background: #fff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.10);
  padding: 0 15px;
  z-index: 10;
  body.dark & {
    background: #141414;
  }
  .box-left {
    .ant-select {
      max-width: 160px;
      z-index: 1;
      &.ant-select-open {
        min-width: 100px;
      }
      &:not(.ant-select-open):not(.ant-select-disabled) {
        .ant-select-selector,
        .ant-select-selector input {
          cursor: pointer;
        }
      }
      &.ant-select-open .ant-select-selector,
      .ant-select-selector:hover {
        background: rgba(#000, 0.05);
      }
      &.ant-select-open {
        .ant-select-selection-item {
          color: $primary;
        }
        .ant-select-selection-placeholder {
          color: lighten($primary, 15%);
        }
      }
      &.ant-select-disabled {
        .ant-select-selection-placeholder,
        .ant-select-arrow .anticon {
          color: #bfbfbf;
        }
      }
      .ant-select-selector {
        display: flex;
        align-items: center;
        height: 100%;
        color: $primary;
        background: none;
        border: 0;
        border-radius: 0;
        outline: 0 !important;
        box-shadow: none !important;
        padding: 0 10px;
        transition: all 0.4s ease;
        input {
          outline: 0;
        }
      }
      .ant-select-selection-search,
      .ant-select-selection-placeholder {
        display: flex;
        align-items: center;
      }
      .ant-select-selection-placeholder,
      .ant-select-arrow .anticon {
        color: $primary;
      }
      .ant-select-arrow {
        z-index: -1;
      }
    }
    .box-back-to-project {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 10px;
    }
  }
  .box-right {
    display: flex;
    .ant-dropdown-link {
      color: $primary;
      .ic-arrow {
        font-size: 0.7em;
        color: $primary;
        margin-left: 2px;
      }
    }
    .btn-dropdown-account {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
      color: #fe740c;
      .ic-arrow {
        color: #fe740c;
      }
      .box-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 30px;
        height: 30px;
        border: 1px solid $border-color;
        border-radius: 50%;
        margin-left: 3px;
        .img-avatar {
          width: 100%;
          height: 100%;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center top;
          background-size: cover;
        }
        .ic-user-circle {
          width: 100%;
          height: 100%;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .ant-menu {
      background: none;
      border-bottom: 0;
      line-height: #{$header-height - 3px};
      > .ant-menu-item {
        border-bottom: 3px solid transparent;
        margin: 0 10px;
        &:hover,
        &.ant-menu-item-selected {
          border-bottom-color: $primary;
          a {
            color: $primary;
          }
        }
        &:after {
          display: none;
        }
        a {
          color: $primary;
        }
      }
    }
  }
}

.left-header-dropdown {
  min-width: 160px !important;
  max-width: 300px !important;
  .ant-dropdown-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.select-option-on-header {
  min-width: 160px !important;
  max-width: 300px !important;
}

.ant-menu-inline-collapsed-tooltip .ant-tooltip-inner a {
  color: #fff;
}
