@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.p-login {
  width: 100%;
  padding: 30px;
  .card-login {
    max-width: 500px;
    background: #fff;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.10);
    padding: 20px;
    margin: auto;
  }
}
