@import '../../assets/scss/components/variables';
@import '../../assets/scss/components/mixins';

.c-basic-breadcrumb {
  margin-bottom: 12px;
  a {
    &:hover {
      color: $primary;
    }
  }
  .ant-breadcrumb-link {
    color: rgba(0, 0, 0, 0.85);
  }
}
